<?xml version="1.0"?>
<launch>
    <env
        name="GAZEBO_MODEL_PATH"
        value="$(find team08)/sim/models:$(optenv MIRO_DIR_MDK)/sim/models:$(optenv GAZEBO_MODEL_PATH)"
    />
    <env
        name="GAZEBO_RESOURCE_PATH"
        value="$(find team08)/sim/media:$(optenv MIRO_DIR_MDK)/sim:$(optenv GAZEBO_RESOURCE_PATH)"
    />
    <env
        name="GAZEBO_PLUGIN_PATH"
        value="$(optenv MIRO_DIR_MDK)/bin/${MIRO_SYSTEM}:$(optenv GAZEBO_PLUGIN_PATH)"
    />

    <!-- Specify which .world file to load -->
    <arg name="world" default="$(find team08)/sim/worlds/maze2.world"/>

    <!-- Set the name for Gazebo -->
    <arg name="gazebo_ns" default="gazebo_server" doc="Gazebo namespace, typically 'gazebo' or 'gazebo_server'"/>
    <!-- Start Gazebo server with exposed ROS interface -->
    <node name="$(arg gazebo_ns)"
        pkg="gazebo_ros"
        type="gzserver"
        respawn="false"
        required="true"
        args="--physics ode --verbose $(arg world)"
    />

    <!-- Start Gazebo client -->
    <node name="gazebo_gui"
        pkg="gazebo_ros"
        type="gzclient"
        respawn="true"
    />
</launch>
